body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.btn-link__bg-anime {
  text-decoration: none;
  padding: 40px 80px;
  border: 5px solid #000;
  color: #000;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.btn-link__bg-anime::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
  z-index: -1;
  transform: rotate(-90deg); /* Rotate the element (Initial position) */
  transform-origin: bottom left;
  transition: all 1s;
}

.btn-link__bg-anime:hover::before {
  transform: rotate(0deg); /* Rotate the element (Final position) */
}

/* You can do this animation with other transform properties like scale, translate, etc. */

/* Second button */

.btn-link__bg-anime2 {
  text-decoration: none;
  padding: 40px 80px;
  border: 5px solid purple;
  color: purple;
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: purple;
  z-index: -1;
  transform: translateX(100%); /* Scale the element (Initial position) */
  transition: all 1s;
  z-index: -1;
}

.btn-link__bg-anime2:hover::before {
  transform: translateX(0); /* Scale the element (Final position) */
}

.btn-link__bg-anime2:hover {
  color: white;
}

.btn-link__bg-anime3 {
  text-decoration: none;
  padding: 40px 80px;
  border: 5px solid rgb(53, 2, 58);
  color: rgb(53, 2, 58);
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(53, 2, 58);
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 1s;
}
.btn-link__bg-anime3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(53, 2, 58);
  z-index: -1;
  transform: rotateY(90deg);
  transition: all 1s;
}

.btn-link__bg-anime3:hover::before {
  transform: rotateX(0);
}
.btn-link__bg-anime3:hover::after {
  transform: rotateY(0);
}

.btn-link__bg-anime3:hover {
  color: white;
}

.btn-link__bg-anime4 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  letter-spacing: -2px;
  padding: 40px 80px;
  border: 5px solid rgb(240, 72, 30);
  color: rgb(240, 72, 30);
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 6px solid rgb(240, 72, 30);
}

.btn-link__bg-anime5 {
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  padding: 40px 80px;
  border: 5px solid black;
  color: rgb(240, 72, 30);
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime5::before {
  content: "YEAH!";
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 72, 30);
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-link__bg-anime5:hover::before {
  transform: translateY(0%);
}

.btn-link__bg-anime6 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 40px 80px;
  border: 5px solid black;
  color: black;
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 40px;
  background-color: black;
  transform: translateX(-100%) rotate(45deg);
  transition: all 2s;
  z-index: -1;
}

.btn-link__bg-anime6:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.btn-link__bg-anime7 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 40px 80px;
  border: 5px solid rgb(17, 39, 17);
  color: transparent;
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime7::before {
  content: "Button";
  text-decoration: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 39, 17);
  transition: all 0.5s;
}

.btn-link__bg-anime7::after {
  content: "Button";
  text-decoration: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 39, 17);
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}

.btn-link__bg-anime7:hover::before {
  transform: translate(100%, -100%);
}

.btn-link__bg-anime7:hover::after {
  transform: translate(0, 0);
}

.btn-link__bg-anime8 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 40px 80px;
  border: 5px solid rgb(67, 2, 70);
  color: rgb(67, 2, 70);
  font-size: 1.5rem;
  position: relative;
  /* transition: all 1s; */
  overflow: hidden;
}

.btn-link__bg-anime8::before {
  content: "Button";
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 72, 30);
  transition: all 1s;
  transform: scale(5);
  opacity: 0;
}

.btn-link__bg-anime8:hover::before {
  transform: scale(1);
  opacity: 1;
}

.btn-link__bg-anime9 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 40px 80px;
  border: 5px solid rgb(14, 26, 66);
  color: rgb(14, 26, 66);
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn-link__bg-anime9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  background-color: rgb(201, 198, 10);
  transition: all 0.5s;
}

.btn-link__bg-anime9:hover {
  color: white;
}
.btn-link__bg-anime9:hover::before {
  height: 250%;
}

.btn-link__bg-anime10 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Arial Narrow", Arial, sans-serif;
  letter-spacing: -2px;
  padding: 40px 80px;
  border: 5px solid rgb(240, 72, 30);
  color: rgb(240, 72, 30);
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  /* overflow: hidden; */
}

.btn-link__bg-anime10::before {
  content: "Button";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.btn-link__bg-anime10::after {
  content: "button";
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

.btn-link__bg-anime10:hover::after {
  transform: rotateX(0);
}

.btn-link__bg-anime10:hover::before {
  transform: rotateX(0);
}
