body {
  perspective: 500px;
}

.move-me {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  background-color: green;
  margin-top: 5rem;
  color: wheat;
  transition: transform 2s;
}

/* .move-me:hover {
  transform: rotate(30deg);
} */

#custom:hover {
  transform: translateZ(200px);
}
